	{% extends 'base.html' %}{% load staticfiles %}
	{% block title %}
	Welcome
	{% endblock %}
	{% block content %}
	<div class="navbar navbar-fixed-top" data-activeslide="1">
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
				<span data-slide="1" class="col-12 col-sm-4 homespan" style="margin-top: 8px;"><a id="menu-link-1" href="/" title="Next Section"><span class="fa fa-home "  style="margin-left: 202px;"> <span class="font-semibold">HOME</span></span></a></span>
					<li data-slide="2" class="col-12 col-sm-4"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="fa fa-user"></span> <span class="text">DANCE</span></a></li>
					<li data-slide="4" class="col-12 col-sm-4"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="fa fa-briefcase"></span> <span class="text">MUSIC</span></a></li>
					</ul>
					<ul class="nav row">
					<li data-slide="5" class="col-12 col-sm-4"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="fa fa-trophy"></span> <span class="text">QUIZ</span></a></li>
					<li data-slide="6" class="col-12 col-sm-4"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="fa fa-calendar"></span> <span class="text">SANKALP</span></a></li>
					<li data-slide="7" class="col-12 col-sm-4"><a id="menu-link-7" href="#slide-7" title="Next Section"><span class="fa fa-phone"></span> <span class="text">THEATRE</span></a></li>
					</ul>

				<div class="row">
					<div class="col-sm-12 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
	</div><!-- /.navbar -->
	<!-- === MAIN Background === -->
	<div class=" story" id="slide1rest" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">sh<span class="font-thin">@</span>pes</h1>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->

	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Dance</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-12 font-thin">This is what <span class="font-semibold">we do best</span></div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-eye-open"></i></p>
					<h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
					<h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-laptop"></i></p>
					<h2 class="font-thin">Web <span class="font-semibold">Design</span></h2>
					<h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-tablet"></i></p>
					<h2 class="font-thin">Mobile <span class="font-semibold">Apps</span></h2>
					<h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-pencil"></i></p>
					<h2 class="font-semibold">Development</h2>
					<h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->

	<!-- === SLide 3 - Portfolio -->
	<!--
	<div class="slide story" id="slide-3" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p01-large.jpg"><img class="thumb" src="images/portfolio/p01-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p02-large.jpg"><img class="thumb" src="images/portfolio/p02-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p09-large.jpg"><img class="thumb" src="images/portfolio/p09-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p010-large.jpg"><img class="thumb" src="images/portfolio/p10-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p05-large.jpg"><img class="thumb" src="images/portfolio/p05-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p06-large.jpg"><img class="thumb" src="images/portfolio/p06-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p07-large.jpg"><img class="thumb" src="images/portfolio/p07-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p08-large.jpg"><img class="thumb" src="images/portfolio/p08-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p03-large.jpg"><img class="thumb" src="images/portfolio/p03-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p04-large.jpg"><img class="thumb" src="images/portfolio/p04-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p11-large.jpg"><img class="thumb" src="images/portfolio/p11-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p12-large.jpg"><img class="thumb" src="images/portfolio/p12-small.jpg" alt=""></a></div>
		</div>
	</div>
	-->
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Music - NOSTALGIA</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">“Where words fail, music speaks.”
<br>
~Hans Christian Andersen</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">

{{ music.para1 }}
<br>
<br>
{{music.para2}}
<br><br>
{{music.para3}}
</div>
</div>
<div class="col-sm-6 font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{music.head1}}

{{music.head2}}
</div>
<br>
Register
<hr>
<div id="success" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:contact' %}" method="POST" id="contact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" id="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="phone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="message" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btncontact btn-block" id="send">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22">Tejas Manjunath</span>
	<hr>
	<img src="{% static 'images/music/tejas.jpg' %}" class="img-responsive">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22">Vrushali Deshmukh</span>

	<hr>
	<img src="{% static 'images/music/vrushali.jpg' %}" class="img-responsive">
	</div></div>
</div>
		</div><!-- /container -->
	</div><!-- /slide4 -->

	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Quiz - PESQuiZa</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
<br>
<br><br>
<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
	{{ quiz.para1 }}
</div>
<br>
<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ quiz.head1 }}

{{ quiz.head2 }}
</div>
</div>
</div>
<div class="col-sm-6 font-semibold font22">

Register
<hr>
<div id="success" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:contact' %}" method="POST" id="contact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" id="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="phone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="message" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btnsportslg btn-block" id="send">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22">Tejas Manjunath</span>
	<hr>
	<img src="{% static 'images/music/tejas.jpg' %}" class="img-responsive">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22">Vrushali Deshmukh</span>

	<hr>
	<img src="{% static 'images/music/vrushali.jpg' %}" class="img-responsive">
	</div></div>

		</div><!-- /container -->
	</div><!-- /slide5 -->
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Sankalp</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br/><br/> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2"><img src="images/client01.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client02.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client03.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client04.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client05.png" alt=""></div>
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-7" data-slide="7">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Theatre</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
<br>

<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
{{ theatre.para1 }}
 <br>{{ theatre.para2 }}
</div>


</div>
<div class="col-sm-6 font-semibold font22">
<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ theatre.head1 }}

{{ theatre.head2 }}
</div>
</div>
<br>
Register
<hr>
<div id="success" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:contact' %}" method="POST" id="contact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" id="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="phone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="message" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btntheatrelg btn-block" id="send">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22">Tejas Manjunath</span>
	<hr>
	<img src="{% static 'images/music/tejas.jpg' %}" class="img-responsive">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22">Vrushali Deshmukh</span>

	<hr>
	<img src="{% static 'images/music/vrushali.jpg' %}" class="img-responsive">
	</div></div>

			</div><!-- /container -->
	</div><!-- /slide5 -->


{% endblock %}
