	{% extends 'base.html' %}{% load staticfiles %}
	{% block title %}
	Welcome
	{% endblock %}
	{% block content %}
	<div class="navbar navbar-fixed-top" data-activeslide="1">
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
						<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
				<span data-slide="1" class="col-12 col-sm-4 homespan" style="margin-top: 8px;"><a id="menu-link-1" href="/" title="Next Section"><span class="fa fa-home "  style="margin-left: 202px;"> <span class="font-semibold">HOME</span></span></a></span>
					<li data-slide="2" class="col-12 col-sm-4"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="fa fa-user"></span> <span class="text">ACTIVITY DAY</span></a></li>
					<li data-slide="4" class="col-12 col-sm-4"><a id="menu-link-3" href="#slide-4" title="Next Section"><span class="fa fa-briefcase"></span> <span class="text">inGENIUS</span></a></li>
					
					</ul>
					<ul class="nav row">
					<li data-slide="5" class="col-12 col-sm-4"><a id="menu-link-4" href="#slide-5" title="Next Section"><span class="fa fa-trophy"></span> <span class="text">MAAYA</span></a></li>
					<li data-slide="6" class="col-12 col-sm-4"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="fa fa-calendar"></span> <span class="text">TEDX</span></a></li>
					<li data-slide="7" class="col-12 col-sm-4"><a id="menu-link-7" href="#slide-7" title="Next Section"><span class="fa fa-phone"></span> <span class="text">KLUDGE</span></a></li>
					</ul>
			
				<div class="row">
					<div class="col-sm-12 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
	</div><!-- /.navbar -->
	
	<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down" class="disabled"></div>
		<div id="arrow-left" class=" visible-lg"></div>
		<div id="arrow-right" class=" visible-lg"></div>
	</div><!-- /.arrows -->

	
	
	<!-- === MAIN Background === -->
	<div class=" story" id="slide1rest" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">sh<span class="font-thin">@</span>pes</h1>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Activity Day</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				
				<div class="col-12 col-sm-12 font-light">Every even semester, PESIT-BSC hosts one of the most awaited events of the year. Activity Day, the interdepartmental events. These events be it sports or tech or cultural culminate on the epic day where every department has only one goal, “to be the best of them all”. Students work day and night before the event putting in massive amounts of time and effort to see their department on top, to be crowned interdepartmental champions!</div>
				
			</div><!-- /row -->
			
		</div><!-- /container -->
	</div><!-- /slide2 -->

<div class="slide story" id="slide-3" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/activityday/a1.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a2.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a3.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/activityday/a4.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/activityday/a5.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a6.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a7.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a16.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a9.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/activityday/a10.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a11.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/activityday/a12.jpg' %}" alt=""> </div>
		</div>
	</div>
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">inGenius</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
			<div class="col-12 col-sm-12 font-light">This 24-hour hackathon is the annual flagship event of the chapter and was conducted on 10th and 11th September on the college campus. It saw over 700 registrations from over 30 colleges and finally 100 teams were invited to come and compete on campus. They were offered goodie bags, meals, hi-speed WiFi, entertainment activities and unlimited coffee. Over the 24 hours, the teams worked on various projects with mentors on campus throughout the night to help them if needed. The projects varied from applications on the web and mobile to machine learning and artificial intelligence as well. Many projects were also electronics and IoT based. The winning team was from NIT Trichy.</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide4 -->
		<div class="slide story" id="slide-3" data-slide="3">
			<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/ingenius/a1.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a2.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a3.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/ingenius/a4.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/ingenius/a5.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a6.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a7.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a16.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a9.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/ingenius/a10.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a11.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"> <img class="thumb" src="{% static 'images/ingenius/a12.jpg' %}" alt=""> </div>
		</div>
			</div>
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Maaya</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
			<div class="col-12 col-sm-12 font-light">Maaya, the annual techno-cultural fest organised by PESIT-BSC. It brings together over 40 colleges from all over bangalore and spans over two fun filled days. The events are as diverse as the people attending the event, ranging from tech to cultural to a good old fashioned treasure hunt. Maaya as a college level fest has grown immensely in the past few year in both number of attendees and events. Maaya has always been a welcome splash of colour in a rather dull odd semester.</div>
			</div><!-- /row -->

		</div><!-- /container -->
	</div><!-- /slide5 -->
	<div class="slide story" id="slide-3" data-slide="3">
			<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a1.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a2.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a3.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a4.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a5.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a6.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a7.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a8.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a9.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a10.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a11.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/maaya/a12.jpg' %}" alt=""> </div>
			
		</div>
			</div>
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Ted X</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				
				<div class="col-12 col-sm-12 font-light">TEDxPESITBSC is a TEDx event organized annually by the students of PESIT Bangalore South Campus. A

TED conference is an event based on the mantra of “ideas worth spreading”. TEDx was created in the

spirit of TED&#39;s mission and supports independent organizers who want to create a TED-like event in their

own community. TEDxPESITBSC aims to bring the TED experience to PESIT-BSC and hosts a platform that

aims to bring together a diverse set of speakers, whose talks revolve around interesting ideas.</div>
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->
		<div class="slide story" id="slide-3" data-slide="3">
			<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a1.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a2.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a3.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a4.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a5.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a6.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a7.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a8.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a9.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a10.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/tedx/a11.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a12.jpg' %}" alt=""> </div>
		</div>
			</div>

			<div class="slide story" id="slide-7" data-slide="7">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Kludge</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				
				<div class="col-12 col-sm-12 font-light">KLUDGE -the Annual Technical hackathon of PESIT- Bangalore South

Campus started in 2014 as a 12 hour technical design challenge fest

initiated by the ECE department of PESIT-BSC. KLUDGE has grown by

leaps and bounds over the last two years. It has brought together the

various fields of engineering through the innovative minds nurtured in our

campus, giving life to some brilliant ideas. It has moved from a dawn-to-

dusk mode to dawn-to- dawn event.

The main focus of KLUDGE is to facilitate for the betterment of the society.

The theme in kludge has moved from “Enabling the differently abled” to

“healthcare systems” to “Innovation for a Sustainable Living” in the last year.

The theme has always been revolving around building products/gadgets

that carry high social impact.
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->
			</div>
		<div class="slide story" id="slide-3" data-slide="3">
			<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a1.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a2.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a3.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a4.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a5.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a6.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a7.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a8.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a9.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a10.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a11.jpg' %}" alt=""> </div>
			<div class="col-12 col-sm-6 col-lg-2"><img class="thumb" src="{% static 'images/kludge/a12.jpg' %}" alt=""> </div>
		</div>
			</div>
	
{% endblock %}