	{% extends 'base1.html' %}{% load staticfiles %}
	{% block title %}
	Welcome
	{% endblock %}
	{% block content %}
	<div class="navbar navbar-fixed-top" data-activeslide="1">
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


		<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
				<li data-slide="1" class="col-12 col-sm-4"><a id="menu-link-1" href="/#slide-1" title="Next Section"><span class="fa fa-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="4" class="col-12 col-sm-4"><a id="menu-link-3" href="/#slide-4" title="Next Section"><span class="fa fa-briefcase"></span> <span class="text">CLUBS</span></a></li>
					<li data-slide="5" class="col-12 col-sm-4"><a id="menu-link-4" href="/#slide-5" title="Next Section"><span class="fa fa-trophy"></span> <span class="text">SPORTS</span></a></li>
					</ul>
					<ul class="nav row">
					
					<li data-slide="7" class="col-12 col-sm-4"><a id="menu-link-6" href="/#slide-7" title="Next Section"><span class="fa fa-calendar"></span> <span class="text">EVENTS</span></a></li>
					<li data-slide="8" class="col-12 col-sm-4"><a id="menu-link-8" href="/#slide-8" title="Next Section"><span class="fa fa-user"></span> <span class="text">ABOUT US</span></a></li>
					<li data-slide="9" class="col-12 col-sm-4"><a id="menu-link-8" href="/#slide-9" title="Next Section"><span class="fa fa-phone"></span> <span class="text">CONTACT</span></a></li>
					</ul>
			
				<div class="row">
					<div class="col-sm-12 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
	</div><!-- /.navbar -->





	<!-- === MAIN Background === -->
	<div class=" story" id="slide1rest" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">sh<span class="font-thin">@</span>pes</h1>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->

	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">ACM</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
{{ acm.para1 }}
</div>
<br>
<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ acm.head1 }}
<br>
{{ acm.head2 }}
<br>
Website -
<a href="{{ acm.web }}" style="color:white; font-weight: 600;" target="_blank">{{acm.web}}</a>
</div>
</div>
</div>
<div class="col-sm-6 font-semibold font22">

Register
<hr>
<div id="acmsuccess" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:acmcontact' %}" method="POST" id="acmcontact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="acmname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="email" id="acmemail" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="acmphone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="acmmessage" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btnacm btn-block" id="acmsend">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22">Chirag Goel</span>
	<hr>
	<img src="{{acm.image1.url}}" class="img-responsive">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22">Amjad Ali</span>

	<hr>
	<img src="{{acm.image2.url}}" class="img-responsive">
	</div></div>
		</div><!-- /container -->
	</div><!-- /slide2 -->

	<!-- === SLide 3 - Portfolio -->
	<!--
	<div class="slide story" id="slide-3" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p01-large.jpg"><img class="thumb" src="images/portfolio/p01-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p02-large.jpg"><img class="thumb" src="images/portfolio/p02-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p09-large.jpg"><img class="thumb" src="images/portfolio/p09-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p010-large.jpg"><img class="thumb" src="images/portfolio/p10-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p05-large.jpg"><img class="thumb" src="images/portfolio/p05-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p06-large.jpg"><img class="thumb" src="images/portfolio/p06-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p07-large.jpg"><img class="thumb" src="images/portfolio/p07-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p08-large.jpg"><img class="thumb" src="images/portfolio/p08-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p03-large.jpg"><img class="thumb" src="images/portfolio/p03-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p04-large.jpg"><img class="thumb" src="images/portfolio/p04-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p11-large.jpg"><img class="thumb" src="images/portfolio/p11-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p12-large.jpg"><img class="thumb" src="images/portfolio/p12-small.jpg" alt=""></a></div>
		</div>
	</div>
	-->
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">IEEE</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
{{ ieee.para1 }}
<br>
<br>
{{ ieee.para2 }}
</div>

</div>
<div class="col-sm-6 font-semibold font22">
	<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ ieee.head1 }}
<br>
{{ ieee.head2 }}
<br>
Website -
<a href="{{ ieee.web }}" style="color:white; font-weight: 600;" target="_blank">{{ieee.web}}</a>
</div>
</div><br>
Register
<hr>
<div id="ieeesuccess" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:ieeecontact' %}" method="POST" id="ieeecontact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="ieeename" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="email" id="ieeeemail" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="ieeephone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="ieeemessage" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btncontact btn-block" id="ieeesend">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22" >Tyson Pais</span>
	<hr>
	<img src="{{ieee.image1.url}}" class="img-responsive" style="height:500px">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22">Malika Agarwal</span>

	<hr>
	<img src="{{ieee.image2.url}}" class="img-responsive" style="height:500px">
	</div></div>
		</div><!-- /container -->
	</div><!-- /slide4 -->




	<div class="slide story" id="slide-8" data-slide="8">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Avions</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
{{ avions.para1 }}
<br>
<br>
{{ avions.para2 }}
</div>

</div>
<div class="col-sm-6 font-semibold font22">
	<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ avions.head1 }}
<br>
{{ avions.head2 }}
<br>
Website -
<a href="{{ avions.web }}" style="color:white; font-weight: 600;" target="_blank">{{avions.web}}</a>
</div>
</div><br>
Register
<hr>
<div id="avionssuccess" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:avionscontact' %}" method="POST" id="avionscontact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="avionsname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="email" id="avionsemail" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="avionsphone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="avionsmessage" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btncontact btn-block" id="avionssend">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22" ></span>
	<hr>
	<img src="{{avions.image1.url}}" class="img-responsive" style="height:500px">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22"></span>

	<hr>
	<img src="{{avions.image2.url}}" class="img-responsive" style="height:500px">
	</div></div>
		</div><!-- /container -->
	</div><!-- /slide4 -->




	<div class="slide story" id="slide-9" data-slide="9">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Enigma</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<div class="row">
<div class="col-sm-6">
<div class="font-light font22 text-left">
{{ enigma.para1 }}
<br>
<br>
{{ enigma.para2 }}
</div>

</div>
<div class="col-sm-6 font-semibold font22">
	<div class="font-semibold font22">
	Contact us
	<hr>
<div class="text-left">
	{{ enigma.head1 }}
<br>
{{ enigma.head2 }}
<br>
Website -
<a href="{{ enigma.web }}" style="color:white; font-weight: 600;" target="_blank">{{enigma.web}}</a>
</div>
</div><br>
Register
<hr>
<div id="enigmasuccess" class="font-semibold font22"></div>
        <form action="{% url 'studenthub:enigmacontact' %}" method="POST" id="enigmacontact">
{% csrf_token %}
            <div class="group">
                <input type="text" id="enigmaname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="email" id="enigmaemail" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" id="enigmaphone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" id="enigmamessage" value = "'I would love to register.'" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-lg btncontact btn-block" id="enigmasend">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"><span class="font-semibold font22" ></span>
	<hr>
	<img src="{{enigma.image1.url}}" class="img-responsive" style="height:500px">
	</div>
	<div class="col-sm-6"><span class="font-semibold font22"></span>

	<hr>
	<img src="{{enigma.image2.url}}" class="img-responsive" style="height:500px">
	</div></div>
		</div><!-- /container -->
	</div><!-- /slide4 -->


{% endblock %}
